.containerLoginPrincipal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

    .containerHeaderLogin {
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 1rem;
        .LoginSubtitle {
            font-size: 0.9rem;
            font-weight: 400;
            color: rgb(82, 82, 82);
        }
    }

    .containerMeioLogin {
        width: 100%;
    }

    .containerFooterLogin {
        width: 100%;
        gap: 4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .FooterLineOr {
            display: flex;
            width: 90%;
            align-items: center;
            gap: 1rem;

            span {
                color: rgb(161, 161, 161);
            }

            hr {
                width: 100%;
                height: 0.8px;
                background-color: rgb(161, 161, 161);
            }
        }
    }
}