.password-toggle-button {

    background-color: transparent !important;
    color: gray !important;
    border: none !important;
    width: 20% !important;
    border-radius: 0px !important;
}

.buttonPasswordHidden{
    position: relative;
    display: none;
}